body {
    font-family: "Helvetica", sans-serif;
    font-size: 20px;
    vertical-align: bottom;
    color: #16086c;
    background-color: #e3f5e6;
}

form, #payment {
    border: double;
    padding: 20px;
}

.button-container {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
}

.error-message {
    font-size: 14px;
    color: red;
}

.button-entity {
    font-family: Helvetica,sans-serif;
    font-size: 14px;
    color: #16086c;
    padding: 5px;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}


